body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	background-color: #fff;
}

h1 {
	font-size: 150%;
	color: #3484D2;
}

a[href^="error:"] {
	background: red;
	color: white;
}

.flash-messages {
	margin-top: 60px;
}

#loader {
	display: none;
	font-size: 2em;
	position: fixed;
	padding: 5px;
	left: 40%;
	top: 40%;
}

#loader.active{
	display: block;
}

footer {
	margin-top: 10px;
	widht: 100%;
}

.k-state-active{
	width: 400px;
	height: 200px;
}

/* Filesystem */
.filesystem {
	display: block;
}

.filesystem .directory {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid black;
}

.filesystem .directory:hover {

}

.jq_system-packages {
	display: none;
}

#structures{
	top: 60px;
	width: 160px;
	overflow: auto;
	position: fixed;
	height: 100%;
	background-color: white;
	z-index: 1001;
}

#structures.hid {
	left: -120px;
}

#structures .toggle-button{
	position: fixed;
	top: 48px;
}