body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	background-color: #fff;
}

h1 {
	font-size: 150%;
	color: #3484D2;
}

.system-menu {
	max-width: 100% !important;
}

.content {
	max-width: 100% !important;
	margin-left: 224px !important;
}

.footer {
	max-width: 100% !important;
	margin-left: 224px !important;
}

a[href^="error:"] {
	background: red;
	color: white;
}

.flash-messages {
	margin-top: 60px;
}

#loader {
	display: none;
	font-size: 2em;
	position: fixed;
	padding: 5px;
	left: 40%;
	top: 40%;
	z-index: 10000;
}

#loader.active{
	display: block;
}

footer {
	margin-top: 10px;
	widht: 100%;
}

.k-state-active{
	width: 400px;
	height: 200px;
}

/* Filesystem */
.filesystem {
	display: block;
}

.filesystem .directory {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid black;
}

.filesystem .directory:hover {

}

.jq_system-packages {
	display: none;
}

.sidebar {
	top: 60px;
	width: 16em !important;
	overflow: auto;
	position: fixed !important;
	height: 100%;
	background-color: white;
	z-index: 1001;
}

.sidebar ul {
	padding: 0px;
}

.sidebar ul li {
	list-style-type: none;
	padding-left: 5px;
}

.sidebar.hid {
	left: -120px;
}

.sidebar .toggle-button{
	position: fixed;
	top: 48px;
}

.spinner-wrapper{
  font-size: 18px;
  display: none;
  top: 45%;
  left: 40%;
  position: fixed;
  background: white;
  border-radius: 30px;
  border: 1px solid black;
  padding: 20px;
  z-index: 10000;
}

.spinner {
  margin: 0px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
