common:
	php:
		date.timezone: Europe/Prague
		session.save_path: "%tempDir%/sessions"
	nette:
		session:
			autoStart: smart

	doctrine:
		connection: %database%
		console: true
		entityDirs: { %appDir%, %appDir%/../libs/webcms2 }
		
	migrations:
		connection: @doctrine.connection
		
	services:
		database: @doctrine.entityManager
		
		authenticator: Authenticator( @database::getRepository('AdminModule\User') )
		
	gedmo: 
		orm:
			em: @doctrine.entityManager
			tree: true
			sluggable: true
			timestampable: true
			
production < common:
	services: 
		cacheStorage:
			class: \Nette\Caching\Storages\MemcachedStorage(%cacheNamespace%)

development < common:
	services:
		cacheStorage: 
			class: \Nette\Caching\Storages\DevNullStorage