common:
	php:
		date.timezone: Europe/Prague
		session.save_path: "%tempDir%/sessions"
	nette:
		session:
			autoStart: smart
		application:
			errorPresenter: 'Error'

	doctrine:
		connection: %database%
		console: true
		entityDirs: { %appDir%/../libs/webcms2 }
		
	migrations:
		connection: @doctrine.connection
		
	services:
		database: @doctrine.entityManager
		
		authenticator: Authenticator( @database::getRepository('WebCMS\Entity\User') )
		
	gedmo: 
		orm:
			em: @doctrine.entityManager
			tree: true
			sluggable: true
			timestampable: true
			
production < common:
	services: 
		cacheStorage:
			class: \Nette\Caching\Storages\MemcachedStorage('localhost', 11211, %cacheNamespace%)

development < common:
	services:
		cacheStorage: 
				class: \Nette\Caching\Storages\DevNullStorage