<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "#name#"}class="active"{/if}><a class="ajax" n:href="#Name#:default idPage => $idPage">{_'#Name#'}</a></li>
  <li {if $active == "settings"}class="active"{/if}><a class="ajax" n:href="Settings:default idPage => $idPage">{_'Settings'}</a></li>
  {include ../../../webcms2/AdminModule/templates/system/boxes.latte id => $idPage}
</ul>