{**
 * Administration main layout WebCMS2.
 *
 * @copyright  Copyright (c) 2013 - 2014 Tomáš Voslař
 * @package    WebCMS
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<base href="{$basePath}/" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="WebCMS2 Administration">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>WebCMS - {_'Administration'}</title>
	{block head}
		{* TODO vytvorit hlavni soubory pro js a css, include pouze techto dvou *}

		<link rel="stylesheet" media="screen" href="{$basePath}/admin-client/grido/client-side/grido.css" type="text/css">

		<link rel="stylesheet" media="screen" href="{$basePath}/admin-client/kendo-ui/styles/kendo.common.min.css" type="text/css">
		<link rel="stylesheet" media="screen" href="{$basePath}/admin-client/kendo-ui/styles/kendo.bootstrap.min.css" type="text/css">
		<link rel="stylesheet" media="screen" href="{$basePath}/admin-client/bootstrap-datepicker/css/datepicker3.css" type="text/css">

		<link rel="stylesheet" media="screen" href="{$basePath}/admin-client/bootstrap/dist/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" media="screen" href="{$basePath}/admin-client/bootstrap-tour/build/css/bootstrap-tour.min.css" type="text/css">
		<link rel="stylesheet" media="screen" href="{$basePath}/admin-client/bootstrap-toggle/css/bootstrap-toggle.min.css" type="text/css">

		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/admin-client/webcms2/css/screen.css" type="text/css">
		<link rel="stylesheet" media="print" href="{$basePath}/admin-client/webcms2/css/print.css" type="text/css">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="{$basePath}/admin-client/jquery/dist/jquery.min.js"></script>
		<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	{/block}
</head>

<body>
	<script>
		var basePath = {$basePath};
		document.body.className+=' js'
	</script>

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid system-menu jq_head">
		<div class="navbar-header" id="tBrand">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a class="navbar-brand ajax" n:href=":Admin:Homepage:"></a>
		</div>

		<div class="navbar-collapse collapse">
			{snippet header}
				<ul class="nav navbar-nav">
					{if $template->checkPermissions($user, 'admin:Pages')}
						<li {if $activePresenter == "Admin:Pages"}class="active"{/if}>
							<a class="ajax" id="tPages" n:href=":Admin:Pages:">{_'Pages'}</a>
						</li>
					{/if}
					{if $template->checkPermissions($user, 'admin:Filesystem')}
					  <li {if $activePresenter == "Admin:Filesystem"}class="active"{/if}>
						  <a class="ajax" id="tFilesystem" n:href=":Admin:Filesystem:">{_'Filesystem'}</a>
					  </li>
					{/if}

				  	<li class="sub {if $activePresenter == "Admin:Settings"}active{/if}">
			  			<button type="button" class="dropdown-toggle tabButton" data-toggle="dropdown">{_'Settings'} <span class="caret"></span></button>
						  <ul aria-labelledby="settings" class="navbar dropdown-menu" role="menu">
					 	 	{if $template->checkPermissions($user, 'admin:Settings')}
							  <li {if $activePresenter == "Admin:Update"}class="active"{/if}>
								  <a class="ajax" id="tSettings" n:href=":Admin:Settings:">{_'Settings'}</a>
							  </li>
							{/if}
						  	{if $template->checkPermissions($user, 'admin:Users')}
							  <li {if $activePresenter == "Admin:Users"}class="active"{/if}>
								  <a class="ajax" n:href=":Admin:Users:">{_'Users'}</a>
							  </li>
							{/if}
							{if $template->checkPermissions($user, 'admin:Languages')}
							  <li {if $activePresenter == "Admin:Languages"}class="active"{/if}>
								  <a class="ajax" id="tLanguages" n:href=":Admin:Languages:">{_'Languages and translations'}</a>
							  </li>
							{/if}
							{if $template->checkPermissions($user, 'admin:Update')}
							  <li {if $activePresenter == "Admin:Update"}class="active"{/if}>
								  <a class="ajax" id="tUpdate" n:href=":Admin:Update:">{_'System'} {if $settings->get('needUpdateCount', 'system', 'text')->getValue() != 0}<span class="badge">{$settings->get('needUpdateCount', 'system', 'text')->getValue()}</span>{/if}</a>
							  </li>
							{/if}
						  </ul>
			  		</li>





				  </ul>

			<div class="navbar-form navbar-right">

				<div class="btn-group">
					{if count($languages) > 1}
						<form method="get" class="pull-left">
							<select id="languageChanger" name='language_id_change' class="btn btn-primary btn-ms">
								{foreach $languages as $l}
									<option value="{$l->getId()}" {if $l->getId() == $language->getId()}selected{/if}>{$l->getName()}</option>
								{/foreach}
							</select>
						</form>
					{/if}

					<button type="button" class="dropdown-toggle" data-toggle="dropdown">
						{$user->getIdentity()->getData()['username']} <span class="caret"></span>
					</button>
				  <ul class="navbar dropdown-menu" role="menu">
					<li><a n:href=":Admin:users:updateUser id =>  $user->getIdentity()->id" class="ajax" data-remote="false" data-target="#myModal" data-toggle="modal">{_'Account settings'}</a></li>
					<li>
						<a n:href=":Admin:Homepage:" class="ajax" id="tutorial">
							{_'Show tutorial'}
						</a>
					</li>
					<li>
						<a n:href=":Frontend:Homepage:" onclick="$(this).attr('target', '_blank');">{_'Go to frontend'}</a>
					</li>
					<li>
						<a n:href=":Admin:Login:out" class="logout" data-confirm="{_'Are you sure?'}">{_'Sign out'}</a>
					</li>
				  </ul>
				</div>

			</div>
			{/snippet}
		</div>
	</div>
	</div>

	<div id="loader">
		 <div class="progress progress-striped active" style="width: 300px;">
			<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			  <div>{_'Loading data...'}</div>
			</div>
		  </div>
	</div>

	<div class="spinner-wrapper">
		<span>{_'This operation can take a long time. Please be patient.'}</span>
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<aside>

		{include 'system/structures.latte'}

	</aside>

	<div class="container-fluid content">

		<div class="container flash-messages">
			{snippet flashMessages}
				<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} fade in">{$flash->message}<a href="#" class="close" data-dismiss="alert">&times;</a></div>
			{/snippet}
		</div>

		{snippet content}
			{block #content}Výchozí obsah{/block}
		{/snippet}

	</div>

	{snippet footer}
	{* <footer class="navbar navbar-default footer">
		<p class="navbar-text pull-right">WebCMS {_'version'} {$version['version']} {if !empty($version['versionHash'])}{_'revision:'} {$version['versionHash']}{/if}. &copy; Webcook 2009-2014</p>
	</footer> *}
	{/snippet}

	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  </div>
	  <div class="modal-body">
		 {define modalContent}{/define}

		{snippet modalContent}
				{include #modalContent}
		{/snippet}
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
		<script type="text/javascript" src="{$basePath}/admin-client/ckeditor/ckeditor.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/ckeditor/adapters/jquery.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/kendo-ui/js/kendo.web.min.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/bootbox/dist/bootbox.min.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/grido/client-side/grido.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/nette.ajax.js/nette.ajax.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/history.nette.ajax.js/client-side/history.ajax.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/webcms2/js/netteForms.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/webcms2/js/Webcms/Webcms.main.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/webcms2/js/Webcms/Webcms.filesystem.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/webcms2/js/Webcms/Webcms.translator.js"></script>
		<script type="text/javascript" src="{$basePath}/admin-client/webcms2/js/Webcms/Webcms.tour.js"></script>
		<script src="{$basePath}/admin-client/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="{$basePath}/admin-client/bootstrap-datepicker/js/locales/bootstrap-datepicker.cs.js"></script>
		<script>
			$(function(){
				webcms.filesystem.setUrl({plink filesystem:default});
				webcms.filesystem.setUploadUrl({link filesystem:default do => uploadFile});
				webcms.filesystem.setNewDirectoryTitle({_'Enter name of the new directory:'});
				webcms.filesystem.setNewDirectoryUrl({plink filesystem:default do => makeDirectory});
				{if array_key_exists('path', $_GET)} 
					webcms.filesystem.setPath({$_GET['path']}); 
				{/if}
			});
		</script>
</body>
</html>
