<div class="page-heading">
<h1>{$actualPage->getTitle()} - {_'Boxes settings'}</h1>
</div>
{form boxesForm}

<div class="well navbar-default">
	{foreach $boxes as $key => $box}
		<div class="boxesForm navbar-form">
			<span class="navbar-text boxesText">{label $key /}</span>
			<span class="navbar-form">{input $key}</span>
		</div>
	{/foreach}



</div>

<div class="form-actions">
{input submit class => 'btn btn-success'}
</div>

{/form}