<li {if $active == "seo"}class="active"{/if}><a id="tSeo" class="ajax" n:href="seo idPage => $id">{_'Seo settings'}</a></li>
<li {if $active == "boxes"}class="active"{/if}><a id="tBoxes" class="ajax" n:href="boxes idPage => $id">{_'Boxes settings'}</a></li>