<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "pages"}class="active"{/if}><a class="ajax" id="tPages" n:href="Pages:default">{_'Pages'}</a></li>
  <li {if $active == "sorting"}class="active"{/if}><a class="ajax" id="tSorting" n:href="Pages:sorting">{_'Sorting'}</a></li>
</ul>