<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "settings"}class="active"{/if}><a class="ajax" n:href="Settings:default">{_'Basic settings'}</a></li>
  <li {if $active == "pictures"}class="active"{/if}><a class="ajax" n:href="Settings:pictures">{_'Pictures settings'}</a></li>
  <li {if $active == "emails"}class="active"{/if}><a class="ajax" n:href="Settings:emails">{_'Emails settings'}</a></li>
  <li {if $active == "boxes"}class="active"{/if}><a class="ajax" n:href="Settings:boxesSettings">{_'Boxes settings'}</a></li>
  <li {if $active == "seo"}class="active"{/if}><a class="ajax" n:href="Settings:seoSettings">{_'Seo settings'}</a></li>
  <li {if $active == "api"}class="active"{/if}><a class="ajax" n:href="Settings:api">{_'API'}</a></li>
  <li {if $active == "project"}class="active"{/if}><a class="ajax" n:href="Settings:project">{_'Project specific settings'}</a></li>
</ul>