{block content}
<div class="page-heading">
<h1>{_'Languages and translations'}</h1>

{include 'tabs.latte' active => 'languages'}
</div>
<br />

<div class="buttonWrap">
<a class="btn btn-primary ajax" n:href="Languages:updateLanguage" data-remote="false" data-target="#myModal" data-toggle="modal" >{_'Add language'}</a>
</div>

<br /><br />

<div class="well">
	{control grid}
</div>

{/block}