{block content}

<h1>{$translation['adminModule_languages_title']}</h1>

{include 'tabs.latte' active => 'languages'}

<br />

<a class="btn btn-primary ajax" n:href="Languages:updateLanguage" data-remote="false" data-target="#myModal" data-toggle="modal" >{$translation['adminModule_languages_button_add']}</a>

<br /><br />

<div class="tab-content">
	<div class="tab-pane active">
		{control grid}
	</div>
</div>

{/block}