<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "languages"}class="active"{/if}><a class="ajax" n:href="Languages:default">{$translation['adminModule_tabs_languages']}</a></li>
  <li {if $active == "translates"}class="active"{/if}><a class="ajax" n:href="Languages:translates">{$translation['adminModule_tabs_translations']}</a></li>
</ul>