<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "languages"}class="active"{/if}><a class="ajax" n:href="Languages:default">Jazyky</a></li>
  <li {if $active == "translates"}class="active"{/if}><a class="ajax" n:href="Languages:translates">Překlady</a></li>
</ul>