{block content}

<h1>{_'Translations'}</h1>

{include 'tabs.latte' active => 'translates'}

<a id="updateTranslationLink" n:href="updateTranslation!"></a>

<br />

<div class="nav">
	<a class="btn btn-primary ajax" n:href="translatesExport">{_'Export translations'}</a>
	<a class="btn btn-primary ajax" n:href="translatesImport">{_'Import translations'}</a>
</div>

<br />

<div class="tab-content">
	<div class="tab-pane active">
		{control translationGrid}
	</div>
</div>

{/block}