{block content}

<h1>{_'Update system'}</h1>


<a n:href="updateSystem!" class="btn btn-primary ajax">{_'Update system?'}</a>

<a n:href="clearCache" class="btn btn-danger" data-confirm="{_'Are you sure you want to delete the cache?'}">{_'Clear cache?'}</a>


{/block}