<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "modules"}class="active"{/if}><a class="ajax" n:href="Update:default">{_'Modules'}</a></li>
  <li {if $active == "functions"}class="active"{/if}><a class="ajax" n:href="Update:functions">{_'Functions'}</a></li>
</ul>