{var $robots = noindex}

{block #content}

<div class="container">


<h3>Sekce pro investory</h3>

<div class="investFormWrapper">
<div id="investForm">
	{form signInForm}
		
		
		<div class="form-group">
			{label username /}
			{input username}
		</div>
		<div class="form-group">
			{label password /}
			{input password}
		</div>

		<div class="result no-bg">
			{input send class => 'var3 btn btn-1 btn-1b'}
		</div>

	{/form}
</div>
</div> 


</div> <!-- /container -->

{/block}
