{if array_key_exists('CKEditorFuncNum', $_GET)}
	<link rel="stylesheet" media="screen" href="{$basePath}/admin-client/bootstrap/dist/css/bootstrap.min.css" type="text/css">
	<script type="text/javascript" src="{$basePath}/admin-client/jquery/dist/jquery.min.js"></script>
	{include filesDialog.latte, from => $_GET['CKEditor'], funcNum => $_GET['CKEditorFuncNum'], lang => $_GET['langCode']}

	<script>
		$(".jq_filesAdd").on('click', function(){
			var funcNum = {$_GET['CKEditorFuncNum']};

    		$('.jq_selected:checked').each(function() {
				var data = $(this).data();
				var path = data.path.substr(1, data.path.length);

				window.opener.CKEDITOR.tools.callFunction( funcNum, path);
				window.close();
			});

		});
	</script>
{else}
	{block content}
	<div class="page-heading">
	<h1>{_'Filesystem'}</h1>
	</div>
	<script>
		var fsPath = {$fsPath};
		$(function(){
			$(".jq_newDir").click(function(e){
				e.preventDefault();
				
				bootbox.prompt({_'Enter name of the new directory:'}, function(text){
					if(text) {
						$.nette.ajax({ url : {plink makeDirectory!}, data : { name : text } })
					}
				});
			});

			var path;
			$(".dir").on('click', function(){
				webcms.filesystem.setPath($(this).data('path'));
			});
		});
	</script>
	<div class="well">
	<div id="uploader" class="k-content">
		<a class="btn btn-primary jq_newDir" n:href="makeDirectory!">{_'Create new directory'}</a>
		
		{if $template->isSuperAdmin($user)}
			<a class="btn btn-primary ajax longRun" n:href="regenerateThumbnails!">{_'Regenerate thumbnails'}</a>
		{/if}
		<br />
		<div id="uploadStatus" style="display: none;">
			<span id="totalSize"></span>
			<span id="uploaded"></span>
			<div class="progress">
			  <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
			    <span class="sr-only">1% Complete</span>
			  </div>
			</div>
		</div>
		<br />
		<form>
			<input type="file" name="file[]" id="upload" multiple />
			<br />
			<input type="submit" class="btn btn-primary" value="{_'Upload files'}" />
		</form>

		<script>
			var directory = '';
			function onComplete(){
				if (!webcms.filesystem.getPath()) {
					webcms.filesystem.setPath(fsPath);
				}

				$("#uploadStatus").hide();
				$.nette.ajax({ url : {plink default}, data : { path : webcms.filesystem.getPath() } });
			}

			$(function(){

				$(document).on('submit', 'form', function(e){
					e.preventDefault();
					$("#uploadStatus").show();

					var formData = new FormData($('form')[0]);
					$.ajax({
				        url: {plink uploadFile!},  //Server script to process data
				        type: 'POST',
				        xhr: function() {  // Custom XMLHttpRequest
				            var myXhr = $.ajaxSettings.xhr();
				            if(myXhr.upload){ // Check if upload property exists
				                myXhr.upload.addEventListener('progress', progressHandlingFunction, false); // For handling the progress of the upload
				            }
				            return myXhr;
				        },
				        //Ajax events
				        success: onComplete,
				        //error: errorHandler,
				        // Form data
				        data: formData,
				        //Options to tell jQuery not to process data or worry about content-type.
				        cache: false,
				        contentType: false,
				        processData: false
				    });
				});
				
				function progressHandlingFunction(e){
				    if(e.lengthComputable){
				    	var percentage = Math.round((e.loaded / e.totalSize) * 100, 2);
				    	var totalSize = Math.round(e.totalSize / 1024 / 1024);
				    	var uploaded = Math.round(e.loaded / 1024 / 1024);

				    	$("#totalSize").html(totalSize + "Mb");
				    	$("#uploaded").html(uploaded + "Mb");
				    	$("#progress").css({"width": percentage + "%"});
				    }
				}
			});
		</script>
	</div>
	<br />
	<a class="btn btn-primary ajax" n:href="default path => $backLink">{_'Back'}</a>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>{_'Name'}</th>
				<th>{_'Date'}</th>
				<th>{_'Size'}</th>
				<th>{_'Actions'}</th>
			</tr>
		</thead>
		{foreach $directories as $path => $file}
			<tr>
				<td class="name">
					<a class="ajax dir" data-path="{$fsPath}{$file->getBasename()}" n:href="default path => $fsPath . $file->getBasename()">
						{$file->getBasename()}
					</a>
				</td>
				<td class="time">{$file->getMTime()|date:'%d.%m.%Y %H:%M:%S'}</td>
				<td class="size">{$file->getRealPath()|dirSize|bytes}</td>
				<td class="action">
					<a n:href="deleteFile! pathToRemove => $fsPath . $file->getBasename()" class="btn btn-danger">{_'Delete'}</a>
				</td>
			</tr>
		{/foreach}
		{foreach $files as $path => $file}
			<tr class="file">
				<td class="name">
					{if strtolower($file->getExtension()) == 'png' || strtolower($file->getExtension()) == 'jpg' || strtolower($file->getExtension()) == 'jpeg'}
						<img style="width: 80px;" src="{$basePath}{$file->getPathname()|thumbnail:'system'}" />
					{/if}
					{$file->getBasename()} <br />
					
					{if strpos($file->getPath(), 'exports') !== FALSE}
						{$baseUri}/upload/exports/{$file->getBasename()}
					{/if}
				</td>
				<td class="time">{$file->getMTime()|date:'%d.%m.%Y %H:%M:%S'}</td>
				<td class="size">{$file->getSize()|bytes}</td>
				<td class="action">
					<a n:href="downloadFile path => $fsPath . $file->getBasename()" class="btn btn-primary">{_'Download'}</a>
					<a n:href="deleteFile! pathToRemove => $fsPath . $file->getBasename()" class="btn btn-danger">{_'Delete'}</a>
				</td>
			</tr>
		{/foreach}
	</table>

	</div>


	{/block}

	{block modalContent}
		{include filesDialog.latte, from => null, funcNum => null, lang => null}
	{/block}
{/if}