{block content}
<div class="page-heading">
<h1>{_'Roles'}</h1>

{include 'tabs.latte' active => 'roles'}
</div>
<br />

<div class="buttonWrap">
<a class="btn btn-primary ajax" n:href="Users:updateRole">{_'Add role'}</a>
</div>

<br /><br />

<div class="well">
	{control rolesGrid}
</div>

{/block}