{block content}

<h1>{_'Roles'}</h1>

{include 'tabs.latte' active => 'roles'}

<br />

<a class="btn btn-primary ajax" n:href="Users:updateRole">{_'Add role'}</a>

<br /><br />

<div class="tab-content">
	<div class="tab-pane active">
		{control rolesGrid}
	</div>
</div>

{/block}