<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "users"}class="active"{/if}><a class="ajax" n:href="Users:default">{_'Users'}</a></li>
  <li {if $active == "roles"}class="active"{/if}><a class="ajax" n:href="Users:roles">{_'Roles'}</a></li>
</ul>